.App {
  text-align: center;
}

main {
  background-image: url('tausta.PNG');
}


.container {
  padding: 30px;
}

a {
  padding-left: 5px;
}

.delete {

  color: red;
}

.save {
  color: green;
}

.edit {
  color: blueviolet;
}


.editForm {
  display: inline-block;
}